.primary-nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
  background: transparent;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: 30px;
  border-radius: 0.2rem;
}

.primary-nav a {
  color: #fff;
  font-size: 1rem;
  transition: 0.5s ease;
}

.scrolled {
  background-color: black;
}

.svg-icon-netflix-logo {
  width: 4rem;
  fill: #e50914;
  transform: translateY(0.15rem);
}

.primary-nav .left a:nth-child(5),
.primary-nav .left a:nth-child(3),
.primary-nav .left a:nth-child(4),
.primary-nav .profile a:first-child {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .primary-nav a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 580px) {
  .primary-nav .left a:nth-child(5),
  .primary-nav .left a:nth-child(3),
  .primary-nav .left a:nth-child(4),
  .primary-nav .profile a:first-child {
    display: none;
  }
}
