.primary-nav{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
  background: transparent;
  z-index: 100;
}

.left{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.profile {
  display: flex;
  gap: 10px;
}

.primary-nav a{
  color: #fff;
  font-size: 0.7rem;
  transition: 0.5s ease;
}

.scrolled{
  background-color: black;
}

.svg-icon-netflix-logo{
  width: 4rem;
  height: 4rem;
  fill: #e50914;
  transform: translateY(0.15rem);
}
