.primary-nav{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s ease;
  background: transparent;
  z-index: 100;
}

.scrolled{
  background-color: black;
}

.svg-icon-netflix-logo{
  width: 6rem;
  height: 6rem;
  fill: #e50914;
}
