.login-banner {
  color: white;
  position: relative;
  background-image: url(../assets/images/home-banner-image.jpg);
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  height: 100vh;
  border-bottom: 8px solid #222;
}

.login-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
}

.login-nav * {
  z-index: 2;
  color: white;
}

.login-nav svg {
  width: 7rem;
  z-index: 5;
}

.login-nav .signup {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: #e50914;
}

.login-fade-in-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.login-fade-in-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.login-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-content {
  z-index: 2;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login-content h1 {
  font-size: clamp(2rem, calc(1.8rem + 1.7vw), 3.2rem);
  margin-bottom: 1rem;
  line-height: 1.1;
}

.login-content h2 {
  font-size: clamp(0.5rem, calc(0.5rem + 2vw), 1.6rem);
  font-weight: normal;
  margin-bottom: 2rem;
  line-height: 1;
}

.login-content h4 {
  font-size: clamp(0.5rem, calc(0.5rem + 2vw), 1.25rem);
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1;
}

.login-input {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 1fr;
  height: 3.5rem;
}

.login-input input {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.input-btn {
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #e40914;
  cursor: pointer;
}

.input-btn span {
  font-size: clamp(0.5rem, calc(0.8rem + 2vw), 1.6rem);
  font-weight: 500;
  color: white;
}

.input-btn .input-icon {
  font-size: 1rem;
  color: white !important;
}

@media screen and (max-width: 930px) {
  .login-input {
    gap: 20px;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  .login-input input {
    width: 100%;
  }
  .input-btn {
    max-width: 12rem;
    justify-self: center;
  }
}

@media screen and (max-width: 890px) {
  .login-content{
    width: 60vw;
  }
}
@media screen and (max-width: 680px) {
  .login-content{
    width: 65vw;
  }
  .login-content h2 {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 580px) {
  .login-banner{
    height: 80vh;
  }
  .login-nav svg {
    width: 5rem;
  }
  .login-nav .signup {
    font-size: 0.8rem;
  }
  .login-content{
    width: 75vw;
  }
}
@media screen and (max-width: 400px) {
  .login-content{
    width: 85vw;
  }
}
