@import "./stylesheets/header.css";
@import "./stylesheets/banner.css";
@import "./stylesheets/login.css";
@import "./stylesheets/signin.css";
@import "./stylesheets/homeinfo.css";
@import "./stylesheets/modal.css";
@import "./stylesheets/row.css";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

a{
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Scroll */
/* chrome + safari custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: black;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: white;
  backdrop-filter: blur(30px);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(179, 179, 179);
  backdrop-filter: blur(30px);
  cursor: pointer;
}

/* firefox custom scrollbar */
@supports (scrollbar-color: white black) {
  * {
    scrollbar-color: white black;
    scrollbar-width: thin;
  }
}
